<ul class="list-group posts">
    {% for post in posts %}
    <li class="list-group-item post">
        <div class="post-content">
            <div style="float: right" class="post-date">
                {{ moment(post.ut_to_utc()).fromNow() }}
            </div>
            <div class="post-author ">
                <a href="{{ url_for('main.user_profile', u_id=post.get_author().id ) }}">
                    {{ post.get_author().name }}
                </a>
            </div>
            <a class="post_title text-area" href="{{ url_for('main.post', p_id=post.id) }}">
                <p style="width: 80%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-top: 10px;">
                    {{ post.body }}
                </p>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>