<div class="posts">
    {% for post in posts %}
    <div class="post on-list">
        <h1 class="post-title"><a href="{{ url_for('main.post', p_id=post.id) }}">{{ post.title }}</a></h1>
        <div class="post-meta">
          <span class="post-date">
            {{ post.get_ct_time() }}
          </span>
            <span class="post-author">— Written by
                <a href="{{ url_for('main.user_profile', u_id=post.get_author().id) }}">{{ post.get_author().name }}</a>
            </span>
        </div>
        <div class="post-content">
            {{ post.body }}
        </div>
        <div><a class="read-more button" href="{{ url_for('main.post', p_id=post.id) }}">Read more →</a></div>
    </div>
    {% endfor %}
</div>