{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import '_macros.html' as macros %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block page_content %}
<div class="content">
    <div class="post">
        <h2 class="post-title">{{ post.title }}</h2>
        <div class="post-meta">
          <span class="post-date">
            {{ post.get_ct_time() }}
          </span>
            <span class="post-author">— Written by
                <a href="{{ url_for('main.user_profile', u_id=post.get_author().id) }}">{{ post.get_author().name }}</a>
            </span>
        </div>
        <div class="post-content">
            {{ post.body }}
        </div>
        <hr>
        <div class="content-header"><h4 id="comments">评论</h4></div>
        {% if current_user %}
        <div class="comment-form">
        {{ wtf.quick_form(form) }}
        {% endif %}
         {% include '_comments.html' %}
        {% if pagination %}
        <div class="pagination">
        {{ macros.pagination_widget(pagination, 'main.post', p_id=post.id)}}
         </div>
        {% endif %}
    </div>
    </div>
</div>
{% endblock %}
